<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <!--<add name="ApplicationServices" connectionString="data source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
       providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
       providerName="System.Data.SqlClient" />-->

  <!--<add name="ApplicationServices1" connectionString="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />-->
  <!--<add name="APPID" connectionString="data source=WTCAANAND;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />-->

  <!--<add name="ApplicationServices" connectionString="TTVQeOI2EYcVygrTZvOOHiL26gk7wbbJn3XZzpwmx3YOwRAvGfB1pGAp+afU7Ot4iE7GkofTZkghyZBO53eOdi8BmT2v69mFY0M8FO2NwB8=" 
  providerName="System.Data.SqlClient" />-->



  <!--<add name="ApplicationServices" connectionString="workstation id=MAHAPMMY.mssql.somee.com;packet size=4096;user id=dbdev;pwd=Pass@123;data source=MAHAPMMY.mssql.somee.com;persist security info=False;initial catalog=MAHAPMMY"
      providerName="System.Data.SqlClient" />
  <add name="ApplicationServices1" connectionString="workstation id=MAHAPMMY.mssql.somee.com;packet size=4096;user id=dbdev;pwd=Pass@123;data source=MAHAPMMY.mssql.somee.com;persist security info=False;initial catalog=MAHAPMMY"
     providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="workstation id=MAHAPMMY.mssql.somee.com;packet size=4096;user id=dbdev;pwd=Pass@123;data source=MAHAPMMY.mssql.somee.com;persist security info=False;initial catalog=MAHAPMMY"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="workstation id=MAHAPMMY.mssql.somee.com;packet size=4096;user id=dbdev;pwd=Pass@123;data source=MAHAPMMY.mssql.somee.com;persist security info=False;initial catalog=MAHAPMMY"
      providerName="System.Data.SqlClient" />-->

  <add name="ApplicationServices" connectionString="data source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
    providerName="System.Data.SqlClient" />
  <add name="ApplicationServices1" connectionString="data source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
     providerName="System.Data.SqlClient" />
  <add name="APPID" connectionString="data source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=123.108.51.115,21443;Initial Catalog=PMMY;User ID=mahaadmin;Password=Admin@123"
      providerName="System.Data.SqlClient" />

 <!--<add name="ApplicationServices" connectionString="data source=IT-EXECUTIVE;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />
  <add name="Local" connectionString="Data Source=IT-EXECUTIVE;Initial Catalog=PMMYA;User ID=sa;Password=Pass@123"
      providerName="System.Data.SqlClient" />-->

</connectionStrings>
